.divText {
  width: 300px;
  margin: 5px;
}

.text {
  color: white;
  font-size: 12px;
  text-align: left;
}

.checkbox {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.submit {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-size: 15px;
  font-weight: 600;
  color: #DA2F35;
  transition: transform 0.3s ease;
}

.submit:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.rodape {
  margin-top: 20px;
  color: white;
  font-weight: 700;
}