.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}

.loginSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #DA2F35;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.712);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.topImage,
.middleImage,
.bottomImage,
.googleImage {
  z-index: 1;
  pointer-events: none;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}

.topImage {
  top: 0;
  left: 0;
  background-image: url('/images/elementTop.png');
  background-position: center;
  transform: translate(-50%, -50%) rotate(45deg);
}

.middleImage {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-image: url('/images/elementMiddle.png');
  background-position: center;
}

.bottomImage {
  bottom: 0;
  left: 0;
  background-image: url('/images/elementBottom1.png');
  background-position: center;
  transform: translate(-50%, 50%) rotate(45deg);
}

.googleImage {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-image: url('/images/elementgoogle.png');
  background-position: center;
  z-index: 1;
}

.h1 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin: 10px;
  text-align: center;
}

.divInput {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.divInput input {
  display: flex;
  color: black;
  background-color: white;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
  border: none;
}

.icon {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

.checkbox label {
  color: white;
  margin: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputCheckbox {
  background-color: white !important;
  color: white;
}

.enter {
  margin: 10px;
  padding: 10px;
  width: 55%;
  border-radius: 10px;
  background-color: white;
  color: #DA2F35;
  font-weight: 800;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
  transition: transform 0.2s ease;
}

.enter:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.forgot {
  color: white;
  font-size: 12px;
  margin: 5px;
  text-decoration: none;
}

.link {
  color: white;
  font-size: 12px;
  margin: 5px;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: underline;
}

.divider {
  margin-top: 15px;
  margin-bottom: 10px;
}

.conect {
  color: white;
  text-align: center;
  padding: 4px;
}

.lineDivider {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: max-content;
}

.lineDivider::before,
.lineDivider::after {
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  background-color: white;
}

.socialIcons img {
  border-radius: 50%;
  margin: 7px;
  width: 55px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.socialIcons img:hover {
  transform: scale(1.1);
}

.createAccount {
  color: #DA2F35;
  background-color: white;
  border-radius: 20px;
  padding: 6px;
  font-size: 15px;
  font-weight: 700;
  margin: 6px;
  transition: transform 0.2s ease;
}

.createAccount:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.rodape {
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
}
