.formContainer {
  position: relative;
  background-color: #e02b2b;
  padding: 40px;
  border-radius: 8px;
  margin: 0 20px 20px;
  width: 90%;
  max-width: 450px;
  z-index: 1;
}

.title {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.backToLoginLink {
  color: #fff;
  width: min-content;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  transition: color 0.2s, background 0.2s;
  padding: 0px 12px 0px 0px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.backToLoginLink span{
  display: inline-flex;
  align-items: center;
}

.backToLoginLink:hover {
  background: #fff2;
  color: #fff;
}

.footer {
  text-align: center;
  display: block;
  color: white;
  font-size: 14px;
  margin-top: 25px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .formContainer {
    padding: 30px 25px;
  }

  .title {
    font-size: 20px;
  }
}