.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: white;
}

.topImage{
  position: fixed;
  top: 0;
  left: 1050px;
}
.bottomImage{
  position: fixed;
  bottom: 0;
  right: 900px;
}

.loginSection{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #DA2F35;
width: 500px;
height: 500px;
position: relative;
border-radius: 10px;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.712);

}

.h1{
color: white;
font-size: 25px;
font-weight: bolder;
margin: 10px;
}

.divInput{
display: flex;
align-items: center;



}
.divInput input{
display: flex;
background-color: white;
flex-direction: column;
margin: 5px;
padding: 10px;
width: 250px;
border-radius: 10px;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
border: none;
}

.icon{
font-size: 20px;
color: white;

}

.checkbox label{
color: white;
margin: 8px;
font-size: 14px;
display: flex;
  align-items: center;
  gap: 5px;

} 
.inputCheckbox{
  background-color: white !important;
  color: white;
}

.enter{
margin: 10px;
padding: 10px;
width: 55%;  
border-radius: 10px;
background-color: white;
color: #DA2F35;
font-weight: 800;
border: none;
box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
transition: transform 0.2s ease;
}

.enter:hover{
cursor: pointer;
transform: scale(1.05);
}

.forgot{
color: white;
font-size: 12px;
margin: 5px;
text-decoration: none;
}
.link{
color: white;
font-size: 12px;
margin: 5px;
text-decoration: none;
}
.link:hover{
color: white;
text-decoration: underline;
}

.divider {
margin-top: 15px;
margin-bottom: 10px;
}

.conect{
  text-align: center;
  padding: 4px;
}

.lineDivider{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lineDivider::before,
.lineDivider::after {
  content: "";
  display: block;
  height: 3px;
  width: 150px;
  background-color: white;
  
}
.socialIcons img {
border-radius: 50%;
margin: 7px;
width: 50px;  
height: 50px;
cursor: pointer;
transition: transform 0.3s ease;
}

.socialIcons img:hover {
transform: scale(1.1);
}

.createAccount{
color: #DA2F35;
background-color: white;
border-radius: 20px;
padding: 6px;
font-size: 15px;
font-weight: 700;
margin: 6px;
transition: transform 0.2s ease;
}
.createAccount:hover{
cursor: pointer;
transform: scale(1.05);
}

.rodape{
color: white;
font-size: 12px;
font-weight: 700;
margin-top: 15px;
}

