.main {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: white;
}

.loginSection{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #DA2F35;
width: 400px;
height: 500px;
position: relative;
border-radius: 20px;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.712);

}

.h1{
color: white;
font-size: 25px;
font-weight: bolder;
margin: 10px;
}

.divInput{
display: flex;
align-items: center;


}
.divInput input{
display: flex;
flex-direction: column;
margin: 5px;
padding: 10px;
width: 100%;
border-radius: 10px;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
border: none;
}

.icon{

font-size: 25px;
color: white;

}

.checkbox{

color: white;
margin: 5px;
font-size: 14px;

} 

.enter{
margin: 10px;
padding: 10px;
width: 60%;  
border-radius: 10px;
background-color: white;
color: #DA2F35;
font-weight: 800;
border: none;
}
.enter:hover{
background-color: rgba(253, 153, 153, 0.911);
color: white;
cursor: pointer;
}

.forgot{
color: white;
font-size: 12px;
margin: 5px;
text-decoration: none;
}
.link{
color: white;
font-size: 12px;
margin: 5px;
text-decoration: none;
}
.link:hover{
color: white;
text-decoration: underline;
}

.divider {
display: flex;
align-items: center;
text-align: center;
margin: 10px 0;
color: white;
font-weight: bold;
}

.socialIcons img {
border-radius: 40%;
margin: 5px;
width: 40px;  
height: 40px;
cursor: pointer;
transition: transform 0.3s ease;
}

.socialIcons img:hover {
transform: scale(1.1);
}

.createAccount{
color: #DA2F35;
background-color: white;
border-radius: 20px;
padding: 6px;
font-size: 15px;
font-weight: 700;
margin: 6px;
}
.createAccount:hover{
background-color: rgba(253, 153, 153, 0.911);
color: white;
cursor: pointer;
}
.rodape{
color: white;
font-size: 12px;
font-weight: 700;
margin: 5px;
}

