# Description: This file contains the environment variables that are used in the back-end application.

DATABASE_URL="postgresql://user_postgres:password_postgres@localhost:5432/postgres?schema=public"