.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputGroup label {
  gap: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 0;
}

.inputGroup input[type="checkbox"] {
  accent-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px solid #fff;
  margin-right: 4px;
  outline: none;
  box-shadow: none;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .input {
    padding: 10px;
  }
}